*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor-icono {
    background-color: blue;
    font-size: 30px;
    height: 30px;
    width: 30px;
    color: #FFFFFF;
}